<div class="container">
 <div class="align-item-center">
  <app-content></app-content>
 </div>

 <h5>Pre-requisite:</h5>
 <ul class="mt-5" style="list-style-type:disc;width:auto;">
  <li>HHA Enterprise Visit Log Export Abilities</li>
  <li>Download Visit Log from HHA by ( Report -> Visits -> Visit -> Visit Log, Change Your Billing Parameters, Then View Report -> Top Right(Save Icon Besides Next Button) -> CSV
   Save To Computer)</li>
  <li>Click The "Import Visit Log Button" -> Select The Downloaded File -> Open</li>
 </ul>

 <h5>Useful Search Hints:</h5>
 <ul class="mt-5" style="list-style-type:disc">
  <li>You Can Search Via, Caregiver Name, Clients Name, Etc.. (Anything Thats On the Table)</li>
  <li>You Can Use AND Symbol ("&") to Isolate Specific Cases, As in "Caregiver Name&Clients Name"</li>
  <li>You Can Use OR Symbol ("|") to Isolate More Elements, As in "Caregiver Name|Clients Name"</li>
  <li>Search "MIO" for Missed In and Out Visits</li>
  <li>Search "Incomplete" To See if the Clock In Hours Are Not Equal To Scheduled Hours</li>
  <li>Search "Un-billable" To See Just Missed In, Missed Out Visits</li>
 </ul>

</div>